doctype html
html(lang="en")
  head
    include sources/head
    title Courses | Beltagy
  body.courses
    .page-container
      include sidebar
      include header
      main.container
        h1 Courses
        .grid

    include sources/scripts
    script(src="assets/js/courses.js") 