doctype html
html(lang="en")
  head
    include sources/head
    title Friends | Beltagy
  body.friends
    .page-container
      include sidebar
      include header
      main.container
        h1 Friends
        .grid

    include sources/scripts
    script(src="assets/js/friends.js") 