header.container
  .search
    input(type="search" placeholder="Type A Keyword" data-placeholder)
  .end-side
    .notification
      i(class="fa-regular fa-bell")
    img.just-beltagy-pic(src="assets/images/user-pic.svg" alt="User Picture")