doctype html
html(lang="en")
  head
    include sources/head
    title Dashborad | Beltagy
  body.dashboard
    .page-container
      include sidebar
      include header
      main.container
        h1 Dashboard
        .grid
          //- User
          article.user
            section.welcome
              .title
                h2 Welcome
                span Beltagy
              .img-container
                img(src="assets/images/dashboard/analyse.svg", alt="Banner Image")
            img.just-beltagy-pic.user-pic(src="assets/images/user-pic.svg", alt="User Picture")
            section.body
              .title
                h3 Beltagy
                span Developer
              .title
                h3 80
                span Projects
              .title
                h3 $8500
                span earned
            a.btn.bg-blue(href="profile.html") Profile

          //- Draft
          article.draft
            .title
              h2 Quick Draft
              p Write A Draft For Your Ideas
            section.body
              input(type="text", placeholder="Title")
              textarea(placeholder="Your Thought")
            a.btn.bg-blue(href="#") Save

          //- Targets
          article.targets
            .title
              h2 Yearly Targets
              p Targets Of The Year
            section.body
              .row
                .icon
                  i.fa-solid.fa-dollar-sign.fa-lg
                .text
                  .title
                    span Money
                    h4 $20.000
                    .progress(data-progress="")
              .row
                .icon
                  i.fa-solid.fa-code.fa-lg
                .text
                  .title
                    span Projects
                    h4 24
                    .progress(data-progress="")
              .row
                .icon
                  i.fa-solid.fa-user.fa-lg
                .text
                  .title
                    span Team
                    h4 12
                    .progress(data-progress="")

          //- Tickets
          article.tickets
            .title
              h2 Tickets Statistics
              p Everything About Support Tickets
            section.body
              .cell
                i.fa-regular.fa-rectangle-list.fa-2x.c-orange
                .title
                  h4 2500
                  span Total
              .cell
                i.fa-solid.fa-spinner.fa-2x.c-blue
                .title
                  h4 500
                  span Pending
              .cell
                i.fa-regular.fa-circle-check.fa-2x.c-green
                .title
                  h4 1900
                  span Closed
              .cell
                i.fa-regular.fa-rectangle-xmark.fa-2x.c-red
                .title
                  h4 100
                  span Deleted

          //- Latest News
          article.latest-news
            .title
              h2 Latest News
            section.body
              .row
                img(src="assets/images/dashboard/news-01.png", alt="No Name Image")
                .title 
                  h4 Created SASS Section
                  p New SASS Examples & Tutorials
                span.noevent-btn 3 Days Ago
              .row
                img(src="assets/images/dashboard/news-02.png", alt="No Name Image")
                .title 
                  h4 Changed The Design
                  p A Brand New Website Design
                span.noevent-btn 5 Days Ago
              .row
                img(src="assets/images/dashboard/news-03.png", alt="No Name Image")
                .title 
                  h4 Team Increased
                  p 3 Developers Joined The Team
                span.noevent-btn 7 Days Ago
              .row
                img(src="assets/images/dashboard/news-04.png", alt="No Name Image")
                .title 
                  h4 Added Payment Gateway
                  p Many New Payment Gateways Added
                span.noevent-btn 9 Days Ago

          //- Latest Tasks
          article.latest-tasks
            .title
              h2 Latest Tasks
            section.body
              .row 
                .title
                  h4 Record One New Video
                  p Record Python Create Exe Project
                i.fa-regular.fa-trash-can
              .row 
                .title
                  h4 Write Article
                  p Write Low Level vs High Level Languages
                i.fa-regular.fa-trash-can
              .row 
                .title
                  h4 Finish Project
                  p Publish Academy Programming Project
                i.fa-regular.fa-trash-can
              .row.checked
                .title
                  h4 Attend The Meeting
                  p Attend The Project Business Analysis Meeting
                i.fa-regular.fa-trash-can
              .row 
                .title
                  h4 Finish Lesson
                  p Finish Teaching Flex Box
                i.fa-regular.fa-trash-can

          //- Top Search Items
          article.search-items
            .title
              h2 Top Search Items 
            section.body
              .title
                span Keyword
                span Search Count
              .row
                span Programming
                span.noevent-btn 220
              .row
                span JavaScript
                span.noevent-btn 180
              .row
                span PHP
                span.noevent-btn 160
              .row
                span Code 
                span.noevent-btn 145
              .row
                span Design
                span.noevent-btn 110
              .row
                span Logic
                span.noevent-btn 95

          //- Latest Uploads
          article.latest-uploads
            .title
              h2 Latest Uploads
            section.body
              .row
                img(src="assets/images/files/pdf.svg", alt="File Image")
                .title
                  h4 my-file.pdf
                  span Elzero
                span.noevent-btn 2.9mb
              .row
                img(src="assets/images/files/avi.svg", alt="File Image")
                .title
                  h4 My-Video-File.avi
                  span Admin
                span.noevent-btn 4.9mb
              .row
                img(src="assets/images/files/psd.svg", alt="File Image")
                .title
                  h4 My-Psd-File.pdf
                  span Osama
                span.noevent-btn 4.5mb
              .row
                img(src="assets/images/files/zip.svg", alt="File Image")
                .title
                  h4 My-Zip-File.pdf
                  span User
                span.noevent-btn 8.9mb
              .row
                img(src="assets/images/files/dll.svg", alt="File Image")
                .title
                  h4 My-DLL-File.pdf
                  span Admin
                span.noevent-btn 4.9mb
              .row
                img(src="assets/images/files/eps.svg", alt="File Image")
                .title
                  h4 My-Eps-File.pdf
                  span Designer
                span.noevent-btn 8.9mb

          //- Latest Project Progress
          article.latest-project-progress 
            .title
              h2 Latest Project Progress
            section.body
              ul
                li.done Got The Project
                li.done Started The Project
                li.done The Project About To Finish
                li.in-progress Test The Project
                li Finish The Project & Get Money
              img(src="assets/images/dashboard/project.png", alt="Rocket")

          //- Reminders
          article.reminders 
            .title
              h2 Reminders
            section.body
              .title
                h4 Check My Tasks List
                p 28/09/2022 - 12:00am
              .title
                h4 Check My Projects
                p 26/10/2022 - 12:00am
              .title
                h4 Call All My Clients
                p 05/11/2022 - 12:00am
              .title
                h4 Finish The Development Workshop
                p 20/12/2022 - 12:00am

          //- Latest Post
          article.latest-post
            .title
              h2 Latest Post
            section.body
              .headding
                img(src="assets/images/team-members/team-1.png", alt="Osama Picture")
                .title
                  h4 Osama Elzero
                  p About 3 Hours Ago
              p You Can Fool All Of The People Some Of The Time, And Some Of The People All Of The Time, But You Can't Fool All Of The People All Of The Time.
              .footer.title
                span
                  i.fa.fa-heart.fa-regular
                  | 1.8k
                span 
                  i.fa.fa-comments.fa-regular
                  | 500

          //- Social Media Stats
          article.social-media-stats
            .title
              h2 Social Media Stats
            section.body
              .row
                span
                  i.fab.fa-twitter
                p 90K Followers
                a.noevent-btn(href="#") Follow
              .row
                span
                  i.fab.fa-facebook-f
                p 2M Like
                a.noevent-btn(href="#") Like
              .row
                span
                  i.fab.fa-youtube
                p 1M Subs
                a.noevent-btn(href="#") Subscribe
              .row
                span
                  i.fab.fa-linkedin
                p 70K Followers
                a.noevent-btn(href="#") Follow

          //- Projects Table
          article.table
            .title
              h2 Projects
            table
              thead
                tr
                  th Name
                  th Finish Date
                  th Client
                  th Price
                  th Team
                  th Status
              tbody
                tr
                  td Ministry Wikipedia
                  td 10 May 2022
                  td Ministry
                  td $5300
                  td
                    img(src="assets/images/team-members/team-1.png", alt="member-picture")
                    img(src="assets/images/team-members/team-2.png", alt="member-picture")
                    img(src="assets/images/team-members/team-3.png", alt="member-picture")
                    img(src="assets/images/team-members/team-4.png", alt="member-picture")
                  td.noevent-btn.bg-orange Pending
                tr
                  td Elzero Shop
                  td 12 Oct 2021
                  td Elzero Company
                  td $1500
                  td 
                    img(src="assets/images/team-members/team-2.png", alt="member-picture")
                    img(src="assets/images/team-members/team-1.png", alt="member-picture")
                    img(src="assets/images/team-members/team-4.png", alt="member-picture")
                  td.noevent-btn.bg-blue In Progress
                tr
                  td Bouba App
                  td 05 Sep 2021
                  td Bouba
                  td $800
                  td 
                    img(src="assets/images/team-members/team-1.png", alt="member-picture")
                    img(src="assets/images/team-members/team-2.png", alt="member-picture")
                  td.noevent-btn.bg-green Completed
                tr
                  td Mahmoud Website
                  td 22 May 2021
                  td Mahmoud
                  td $600
                  td 
                    img(src="assets/images/team-members/team-3.png", alt="member-picture")
                    img(src="assets/images/team-members/team-2.png", alt="member-picture")
                  td.noevent-btn.bg-green Completed
                tr
                  td Sayed Website
                  td 24 May 2021
                  td Sayed
                  td $300
                  td 
                    img(src="assets/images/team-members/team-4.png", alt="member-picture")
                    img(src="assets/images/team-members/team-2.png", alt="member-picture")
                  td.noevent-btn.bg-red Rejected
                tr
                  td Arena Application
                  td 01 Mar 2021
                  td Arena Company
                  td $2600
                  td 
                    img(src="assets/images/team-members/team-1.png", alt="member-picture")
                    img(src="assets/images/team-members/team-2.png", alt="member-picture")
                    img(src="assets/images/team-members/team-3.png", alt="member-picture")
                  td.noevent-btn.bg-green Completed

    include sources/scripts