doctype html
html(lang="en")
  head
    include sources/head
    title Plans | Beltagy
  body.plans
    .page-container
      include sidebar
      include header
      main.container
        h1 Plans
        .grid
          article
            .cover.bg-green
              h2 Free
              span.price 0.00
            ul
              li
                i.fa-solid.fa-check.fa-fw.true
                p Access All Text Lessons
                i.fa-solid.fa-circle-info.help
              li
                i.fa-solid.fa-check.fa-fw.true
                p Access All Videos Lessons
                i.fa-solid.fa-circle-info.help
              li
                i.fa-solid.fa-check.fa-fw.true
                p Appear On Leaderboard
                i.fa-solid.fa-circle-info.help
              li
                i.fa-solid.fa-xmark.fa-fw.false
                p Browse Content Without Ads
                i.fa-solid.fa-circle-info.help
              li
                i.fa-solid.fa-xmark.fa-fw.false
                p Access All Assignments
                i.fa-solid.fa-circle-info.help
              li
                i.fa-solid.fa-xmark.fa-fw.false
                p Get Daily Prizes
                i.fa-solid.fa-circle-info.help
              li
                i.fa-solid.fa-xmark.fa-fw.false
                p Earn Certificate
                i.fa-solid.fa-circle-info.help
              li
                i.fa-solid.fa-xmark.fa-fw.false
                p 1 GB Space For Hosting Files
                i.fa-solid.fa-circle-info.help
              li
                i.fa-solid.fa-xmark.fa-fw.false
                p Access Badge System
                i.fa-solid.fa-circle-info.help
            a.btn.bg-green(href="#") Join

          article
            .cover.bg-blue
              h2 Basic
              span.price 7.99
            ul
              li
                i.fa-solid.fa-check.fa-fw.true
                p Access All Text Lessons
                i.fa-solid.fa-circle-info.help
              li
                i.fa-solid.fa-check.fa-fw.true
                p Access All Videos Lessons
                i.fa-solid.fa-circle-info.help
              li
                i.fa-solid.fa-check.fa-fw.true
                p Appear On Leaderboard
                i.fa-solid.fa-circle-info.help
              li
                i.fa-solid.fa-check.fa-fw.true
                p Browse Content Without Ads
                i.fa-solid.fa-circle-info.help
              li
                i.fa-solid.fa-check.fa-fw.true
                p Access All Assignments
                i.fa-solid.fa-circle-info.help
              li
                i.fa-solid.fa-check.fa-fw.true
                p Get Daily Prizes
                i.fa-solid.fa-circle-info.help
              li
                i.fa-solid.fa-check.fa-fw.true
                p Earn Certificate
                i.fa-solid.fa-circle-info.help
              li
                i.fa-solid.fa-xmark.fa-fw.false
                p 1 GB Space For Hosting Files
                i.fa-solid.fa-circle-info.help
              li
                i.fa-solid.fa-xmark.fa-fw.false
                p Access Badge System
                i.fa-solid.fa-circle-info.help
            a.btn.bg-blue(href="#") Join

          article
            .cover.bg-orange
              h2 Premium
              span.price 19.99
            ul
              li
                i.fa-solid.fa-check.fa-fw.true
                p Access All Text Lessons
                i.fa-solid.fa-circle-info.help
              li
                i.fa-solid.fa-check.fa-fw.true
                p Access All Videos Lessons
                i.fa-solid.fa-circle-info.help
              li
                i.fa-solid.fa-check.fa-fw.true
                p Appear On Leaderboard
                i.fa-solid.fa-circle-info.help
              li
                i.fa-solid.fa-check.fa-fw.true
                p Browse Content Without Ads
                i.fa-solid.fa-circle-info.help
              li
                i.fa-solid.fa-check.fa-fw.true
                p Access All Assignments
                i.fa-solid.fa-circle-info.help
              li
                i.fa-solid.fa-check.fa-fw.true
                p Get Daily Prizes
                i.fa-solid.fa-circle-info.help
              li
                i.fa-solid.fa-check.fa-fw.true
                p Earn Certificate
                i.fa-solid.fa-circle-info.help
              li
                i.fa-solid.fa-check.fa-fw.true
                p 1 GB Space For Hosting Files
                i.fa-solid.fa-circle-info.help
              li
                i.fa-solid.fa-check.fa-fw.true
                p Access Badge System
                i.fa-solid.fa-circle-info.help
            p.current-plan This Is Your Current Plan

    include sources/scripts