doctype html
html(lang="en")
  head
    include sources/head
    title Projects | Beltagy
  body.projects
    .page-container
      include sidebar
      include header
      main.container
        h1 Projects
        .grid

    include sources/scripts
    script(src="assets/js/projects.js") 